/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './overrides';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import "./button.scss";
@import "./variable.scss";

// $primary-color: #0052cc !default;
// $accent-color: #0052cc !default;
// $default-color: #42526e;
// $hover-background: rgba(140, 140, 140, 0.3);
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  background-color: #f4f5fa;
}
h1,
h2 {
  font-size: 30px;
}
h3,
h4 {
  font-size: 25px;
}
h5,
h6 {
  font-size: 20px;
}
p,
a {
  font-size: 18px;
}
span{
  font-size: 16px;
}

.round-profile{
  border-radius: 50%;
}
