  $white-color: #fff;
  $body-color:#f4f5fa;
  $btn-primary-color:#3b71ca;
  // $btn-primary-shadow:#386bc0;
  // $btn-primary-focus:#386bc0;
  $btn-primary-hover:#386bc0;
  $btn-primary-active:#3566b6;
  $btn-dark-color:#332d2d;
  // $btn-dark-shadow:#332d2d;
  $btn-dark-hover:#302b2b;
  $btn-dark-active:#2e2929;
  $btn-dark-focus:#302b2b;
  $btn-danger-color:#dc4c64;
  $btn-danger-hover:#dc4c64;
  $btn-danger-active:#c6445a;
  $btn-danger-focus:#d1485f;
  $btn-danger-c-color:#ff5252;

  $btn-success-color:#14a44d;
  $btn-success-hover:#14a44d;
  $btn-success-active:#129445;
  $btn-success-focus:#139c49;

  $btn-warning-color:#e4a11b;
  $btn-warning-hover:#d9991a;
  $btn-warning-active:#cd9118;
  $btn-warning-focus:#cd9118;

  $btn-secondary-color:#575353bd;
  $btn-secondary-shadow:#6c757d;
  $btn-secondary-hover:#6c7175c0;
  $btn-secondary-active:#6c7175c0;
  $btn-secondary-focus:#6c7175c0;
  $btn-secondary-font:#4d4c4c;
  $default-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  $menu-background:#4680ff;
  $devider-background-color:#bbb;
  $jira-btn-color:#0052cc;
  $sidebar-menu-background-active:#e9eff7;
  $sidebar-menu-background:#e6f0ff;;
