<div class="container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <nav class="navbar navbar-expand-lg">
                <span href="javascript:void(0);" class="navbar-brand">
                    <a href="javascript:void(0);" class="logo">
                        <img src="{{AllApps}}" alt="AllApps">
                    </a>
                    &nbsp;
                    <a href="javascript:void(0);" class="logo">
                        <img src="{{logoImg}}" alt="jira">
                    </a>
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <div class="header-wrapper" *ngFor="let menu of commonService.setMenu()">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">{{menu.menu_item}}
                                    <span><img src="{{arrowImg}}" alt="arrow" *ngIf="menu.arrow"></span>
                                </a>
                            </li>
                        </div>
                        &nbsp;
                        <a href="javascript:void(0);" (click)="issueCreate()">
                           <span class="create btn btn-dark button nav-link">Create</span>
                        </a>
                    </ul>
                    <app-profile-menu></app-profile-menu>
                </div>
            </nav>
        </div>
    </div>
</div>