@import "../../../../variable.scss";
.round-profile {
    border-radius: 50%;
    padding: 6px;
    background-color: #6c757d;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: $white-color;
    border: 1px solid;
    font-weight: 600;
    box-shadow: $default-box-shadow;
}
::ng-deep{
    .p-menu .p-submenu-header{
        display: none;
    }
    .p-menu .p-menuitem-link .p-menuitem-text{
        font-size: 15px;
        font-weight: 600;
    }
    .p-menuitem{
        margin-bottom: 3px;
    }
    .p-menu .p-menuitem-link:not(.p-disabled):hover{
        background: $menu-background;
        color: $white-color !important;
        transition: 0.5s ease;
        box-shadow: 0 9px 8px -9px rgba(0,0,0,0.25);
        .p-menuitem-icon,.p-menuitem-text{
            color: $white-color !important;
        }
    }
    .p-menuitem:last-child{
        border-top: 1px dotted $devider-background-color;
    }
}
