.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover{
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}
.p-dialog .p-dialog-header .p-dialog-header-icon{
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}
.p-dialog .p-dialog-header-icon{
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.close {
    position: absolute !important;
    top: 31px;
    right: 30px;
    z-index: 1;
    opacity: 1;
    padding: 5px;
    &:hover{
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
    border-radius: 50%;
    transition: 0.3s ease;
    }
}

::ng-deep {
    .p-dialog .p-dialog-header .p-dialog-header-icon {
        display: none;
    }
    .p-dialog-content{
        overflow-y:scroll;
        height: 100vh;
    }
}