<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="menu-wrapper" *ngFor="let menu of sidebarMenu">
            <span id="{{menu.id}}">
                <span class="heading" href="javascript:void(0);">{{menu.menu_item}}</span>
                <div class="sub-menu" *ngIf="menu.childMenu">
                    <ul class="list-group">
                        <!-- [ngClass]="{active: isActive == submenu.route_link }" -->
                        <div class="hover" *ngFor="let submenu of menu.childMenu" [ngClass]="{active: isActive == submenu.id}">
                            <li class="flex side-link" id="{{submenu.id}}" (click)="goToPage(submenu)">
                                <i class="{{submenu.icon_class}}"></i>
                                <a href="javascript:void(0);">{{submenu.childMenu_item}}</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </span>
        </div>
    </div>
    <a href="javascript:void(0);" class="arrow chnageView"></a>
</div>
